.filter-component {
    font-size: .7rem;
    margin: 1em;
    padding: 1em;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;

    @media only screen and  (max-width:500px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
       #filter-name {
           margin-right: .5em;
       }
    }
}

.ant-radio-wrapper {
font-size: .75rem;
font-weight: 400;
}