.ant-card {
    // margin-left: 20px;
    }

    .card-icon {
        font-size: 1.7rem;
        @media only screen and (max-width:1000px) {
          position: absolute;
          top: .5em;
          right: 1em;
        }
    }
    
    .rounded {
      .ant-card-cover img {
        border-radius: 300%;
      }
    }
    
    .ant-card-cover {
      height: 80%;
    }
    .ant-card-cover img {
     height: 100%;
    }
    
    
    .ant-card-meta-title {
      font-size: 16px;
    }
    
    .ant-modal {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 30%;
      height: 100vh;
      @media only screen and (max-width: 1000px) {
        max-width: 100%;

      }
    }
    .ant-modal-content {
      height: 100vh;
      overflow-y: auto;

    }
    
    .ant-modal-title {
      text-align: center;
    }