{
    "parser": "@typescript-eslint/parser",
    "extends": "airbnb-typescript",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "semi": ["off", "never"],
      "quotes": [2, "single"],
      "eol-last": ["error", "never"]
    },
    "parserOptions": {
      "project": "./tsconfig.json"
    }
  }