.navbar {
  display: flex;
  align-items: center;
  .section-2 {
    display: flex;
    width: 50%;
  }

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    .section-2 {
      width: 100%;
      margin: .5em;
    }
  }
}

.ant-menu {
  border: none;

}
.ant-menu-light {
  width: 40%;
 
  @media only screen and (max-width: 500px) {
  width: 100%;
  }
}

.ant-menu-submenu {
}

.ant-menu-sub {
    min-width:400px;
    min-height:50%;
    display: flex;
}

.ant-menu-item-group-title {
  font-weight: 900;
}
.ant-menu-item-group a  {
 display: block;
 margin: 5px 0px 20px 15px;
}



