.footer {
    background-color: #7579E7; 
    height: 200px; 
    list-style-type: none; 
    display: flex; 
    justify-content: space-around; 
    padding-top: 20px;
    margin-top: 1em;
    a {
        color: white;
    }
}