
@import '../Components/Navbar/navbar';
@import '../Components/Searchfield/searchfield';
@import '../Components/RecommendedItems/recommendedItems';
@import '../Components/Footer/footer';
@import '../Components/Signin/signin';
@import '../Components/MainLogo/mainlogo';
@import '../Components/Cart/cart';
@import '../Components/FilterComponent/filtercomponent';
@import '../Components/ProductGallery/productgallery';
@import '../Components/ProductDetails/productdetails';
@import '../Components//ProductDescription/productdescription';
@import '../Components/ProductInfo/productinfo';
@import '../Components//ProductSize/productsize';
@import '../Components/AddProduct/addproduct';
@import '../Components/ProductPrice/productprice';
@import '../Components/ProductColor/productcolor';
@import '../Components/Delimeter/delimeter';
@import '../Components/CartItem/cartitem';


.homepage {
    display: flex;
    flex-direction: column;
}
.products {
    display: flex;
    justify-content: space-evenly;
    .test {
        width: 75%;
    }
    .displayed-products {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        .displayed-products-cart {
            width: 200px;
            height: 320px;
            margin: 1em 1em 1em 1em;
        }
    }
    .filter-options {
        display: flex;
        flex-direction: column;
        width: 15%;        
    }

    @media only screen and (max-width: 500px) {
        flex-direction: column;
        .test {
            width: 100%;
        }
        .displayed-products {
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            .displayed-products-cart {
                width: 180px;
                height: 310px;
                margin: .5em .5em .5em .5em;
            }
        }
        .filter-options {
            width: 100%;
            flex-direction: row;
            overflow-x: scroll;
            margin-bottom:.5em;
            cursor: pointer;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        }
}

.product {
  display: flex;
  justify-content: space-evenly;
  .product-options {
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  @media only screen and (max-width:500px) {
  flex-direction: column;
  }
}
